@model IEnumerable<KAndJCore.Models.Claim>

@{
    ViewData["Title"] = "Index";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/search-box.css" />
    <link rel="stylesheet" href="~/css/claim-index.css" />
}

<h1>Claims</h1>

<div class="row">
    <div class="col-md-3">
        <p>
            <a asp-action="Create" style="margin-right:25px">Create New</a>
            <a asp-controller="Templates" asp-action="Index">Templates</a>
        </p>
    </div>
    <div class="col-md-4  div-search-container">
        <input id="txt-search" class="form-control" />
        <a id="btn-search" title="Search" class="btn btn-primary"><i class="fa fa-search"></i></a>
        <span id="spn-search" class="text-danger" style="display:none">Please, include at least three characters.</span>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Claim Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Template)
            </th>
            <th>
                Disputed Accounts
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                Next Revision Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buro.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Template.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisputedAccounts)
            </td>
            <td>
                @item.Created.ToString("MM/dd/yyyy")
            </td>
            <td>
                <span id="spn-revision-@item.Id" @((item.Status == KAndJCore.Enums.ClaimStatusEnum.Open) ? "style=display:inline" : "style=display:none")><span class="spn-revision-date">@item.NextRevision.ToString("MM/dd/yyyy")</span>  <span class="spn-revision badge badge-primary">@Html.DisplayFor(modelItem => item.CurrentIteration)</span></span>
                <span id="spn-revision-closed-@item.Id" @((item.Status == KAndJCore.Enums.ClaimStatusEnum.Closed) ? "style=display:inline" : "style=display:none")>--</span>
            </td>
            <td>
                <span id="spn-status-@item.Id" class="@(item.Status == KAndJCore.Enums.ClaimStatusEnum.Closed ? "red" : "")">@Html.DisplayFor(modelItem => item.Status)</span>
            </td>
            <td>
                <a id="a-revision-@item.Id" href="" title="Schedule Next Revision" data-claim-id="@item.Id" class="action-icon a-next-revision @(((item.Status == KAndJCore.Enums.ClaimStatusEnum.Closed) || item.CurrentIteration >= 3) ? "icon-disabled" : "")" @(((item.Status == KAndJCore.Enums.ClaimStatusEnum.Closed) || item.CurrentIteration >= 3) ? "enabled=false" : "")><i class="fa fa-calendar-plus-o"></i></a>
                <a asp-action="ClaimFile" asp-route-id="@item.Id" title="Generate Printable File" class="action-icon"><i class="fa fa-file-pdf-o"></i></a>
                <a asp-action="ClaimClone" asp-route-id="@item.Id" title="Clone Claim" class="action-icon"><i class="fa fa-clone"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="action-icon"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="action-icon"><i class="fa fa-plus-square-o"></i></a>
                <a id="a-close-claim-@item.Id" href="" title="Close Claim" class="action-icon a-close-claim" data-claim-id="@item.Id" @((item.Status == KAndJCore.Enums.ClaimStatusEnum.Open) ? "style=display:inline" : "style=display:none")><i class="fa fa-archive"></i></a>
                <a id="a-reopen-claim-@item.Id" href="" title="Reopen Claim" class="action-icon a-reopen-claim" data-claim-id="@item.Id" @((item.Status == KAndJCore.Enums.ClaimStatusEnum.Closed) ? "style=display:inline" : "style=display:none")><i class="fa fa-folder-open-o"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="action-icon"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="@Url.Content("~/js/claim-index.js")"></script>
}
