@model KAndJCore.Models.Claim

@{Layout = null;}


    <div class="div-page">
        <div class="div-block">
            <span class="span-title">MIAMI, @DateTime.Now.ToString("MM/dd/yyyy")</span>
        </div>

        <div class="div-block div-initial-block">
            <span class="span-title">@Model.Client.FullName</span>
            <p>
                <span>@Model.Client.Address</span>
                <br />
                <span>@Model.Client.AddressLine2</span>
            </p>
        </div>

        <div class="div-block div-initial-block">
            <span class="span-title">@Model.Buro.Name</span>
            <p>
                <span>@Model.Buro.AddressLine1</span>
                <br />
                @if (!String.IsNullOrEmpty(Model.Buro.AddressLine2))
                {
                    <span>@Model.Buro.AddressLine2</span>
                    <br />
                }
                <span>@Model.Buro.AddressLine3</span>
            </p>
        </div>

        <div class="div-block bold">
            <p>ATTN DEPARTMENT OF DISPUTES:</p>
        </div>

        <div class="div-block bold">
            <p>RE: Consumer Fraud Assistance </p>
        </div>

        <div class="div-block" style="margin-top: 50px">
            <p>
                I received a copy of my credit report from @(Model.Buro.Name) and found the following items to be errors:
            </p>
        </div>

        <div class="div-block">
            <p>
                @for (int i = 0; i < Model.Disputes.Count; i++)
                {
                    <span class="indent">@(i + 1)) @Model.Disputes[i].CompleteReason</span>
                    <br />
                }
            </p>
            <br />
        </div>

        <div class="div-block bold" style="text-decoration:underline">
            <p>
                See attached Copy of my @(Model.Buro.Name) Credit Report, the errors have been highlighted.
            </p>
        </div>
        
        <div class="div-block">
            <p>
                By the provisions of the Fair Credit Reporting Act, I demand that these items be investigated and removed from my report. It is my understanding that you will recheck these items with the creditor who has posted them. Please remove any information that the creditor cannot verify. I understand that under 15 U.S.C. Sec. 1681i (a), you must complete this investigation within 30 days of receipt of this letter.
            </p>
            <p>
                Please send me an updated copy of my credit report to the above address. According to the act, there shall be no charge for this updated report. I also request that you please send notices of corrections to anyone who received my credit report in the past six months.
            </p>
            <p>
                In addition, please add a security fraud alert to my @(Model.Buro.Name) credit file.
            </p>
        </div>

        <div class="div-block">
            <p>
                To begin with, please verify that the information that you have on file as my personal information (my contact information is correct, my name is @(Model.Client.FullName) and I was born on @(Model.Client.DOB.ToString("MM/dd/yyyy")). Also, the number of my S.S.N. is @(Model.Client.SSN).
            </p>
        </div>

        <div class="div-block">
            <p>
                I have enclosed the fallowing documents:
                <br />
                <span class="indent">1. Copy of my ID</span>
                <br />
                <span class="indent">2. Proof of my Social Security Number</span>
                <br />
                <span class="indent">3. Copy of Bill</span>
            </p>
        </div>

        <div class="div-block">
            <p>
                Please note that this is very important matter to me and affects my personal finances, your attention is greatly appreciated! Thank you very much for taking care of this for me, also, please process this dispute in the shortest time possible. Thanks again!
            </p>
        </div>

        <div class="div-block">
            <p>
                Regards,
            </p>
        </div>

        <div class="div-block div-signature bold">
            <p>
                @Model.Client.FullName
            </p>
            <span>
                ____________________________________________________________
            </span>
        </div>

        <div class="div-cc">
            <p>
                CC: Federal Trade Commission (Certified Mail)
            </p>
        </div>
    </div>



